body {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    float: none;
    text-align: justify;
    font-family: "EB Garamond", serif;
}

nav {
    margin: auto;
    float: none;
    text-align: center;
}

nav ul {
    padding: 0px;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

a {
    text-decoration: none;
    color: #fa5c5c;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

/* Light mode by Davy de Vries */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

/* Dark mode by Davy de Vries */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}