body {
    font-family:'Helvetica', 'Sans-Serif';
    margin: 60px auto;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
  
nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
}
