body {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    float: none;
    text-align: justify;
    font-family: "EB Garamond", serif;
}

nav {
    margin: auto;
    float: none;
    text-align: center;
}

nav ul {
    padding: 0px;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

a {
    text-decoration: none;
}

h1 {
  text-align: center;
}
