<!doctype html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i" rel="stylesheet">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/games">games</a></li>
      <li><a href="/notes">notes</a></li>
      <li><a href="/papers">papers</a></li>
    </ul>
  </nav>

{{ content }}

<footer>
  <ul>
    <li><a href="https://twitter.com/steinea" target="_blank">Twitter</a></li>
    <li><a href="https://vagrantludology.itch.io/" target="_blank">Itch.io</a></li>
    <li><a href="https://www.kickstarter.com/profile/vagrantludology/created" target="_blank">Kickstarter</a></li>
    <li><a href="https://ko-fi.com/steinea" target="_blank">Ko-fi</a></li>
    <li><a href="https://twu.academia.edu/steinea" target="_blank">Academia</a></li>
    <li><a href="https://orcid.org/0000-0003-4131-2695" target="_blank">ORCID</a></li>
    <li><a href="https://www.linkedin.com/in/steinea/" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/steinea" target="_blank">Github</a></li>
    <li><a href="https://keybase.io/steinea/" target="_blank">Keybase</a></li>
  </ul>
</footer>

</body>
</html>
